{{ $serverString := .ServerPackageString -}}
{{ $package := .Package -}}
{{ $packagePath := .PackagePath -}}
package {{ $serverString }}

import (
    "golang.org/x/net/context"
    {{ $packagePath }}
)

